<% if ! current_user 
    authorize 
    end 
%>

<p><center><%= image_tag("comercial.JPG", width: '700', height: '100', alt: 'Site Logo', class: "logo") %></center></p>

<h1><center>Sistema Ventas Moviles</center></h1>


